
/* for Tablets */
@media all and (max-width: 1000px) {
    .main-article{
    width: 50%;
    margin-bottom: 50px;
  }

  .header-container h1 {
    font-size: 32px;
  }
  .landing-page-container h1 {
    font-size: 32px;
  }
  .main-article-left h1 {
    font-size: 32px;
  }
  .cardteam {
    flex-wrap: wrap;
  }

  .cardteam .card {
      width: 25%;
      margin: 10px 15px;
  }

}

/* for Smartphones */
@media all and (max-width: 670px) {
  
  footer {
    text-align: center;
  }
  
  .main-article {
    text-align: left;
    width: 100%
  }
   
  .header-container {
    display: none;
  }
  
 
  .menu-icon {
    display: block;
  }
 
  
  .header-container h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .landing-page-container h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .main-article-container {
    display: flex;
    flex-direction: column;
  }
  .main-article-left {
    margin-top: 5vw;
  }
  
  .landing-page-container p {

  }
  .main-article-left p {
    width: 100%;
    font-size: 3vw;
    line-height: 3vw;
  }
 
  .cardteam {
    flex-direction: column;
  }

  .cardteam .card {
      width: 75%;
      margin: 10px auto;
  }
  
}
